<%- include("../partials/header") %>

<div class="err-page">
    <div class="err-head">
        <h1>Oh no, you've ventured too far!</h1>
    </div>
   
    <div class="head-back">
        <h2>Head <a href="/">back</a>, we've got you covered.</h2>
    </div>
    
</div>


<%- include("../partials/footer") %>