<%- include("../partials/header") %>

<div class="about-bg">
    <div class="about-head">
       <h1 class="about-title">About Us</h1> 
    </div>
    <div class="about-us">
    <p class="about-p">Welcome to Virtual Las Vegas, a platform designed to give you a taste of the glitz and glamour of Las Vegas, right from the comfort of your own home.</p>
    <p class="about-p">Not only do we and 2 million+ call the Mojave our home but as you already may well know, Las Vegas is a tourist hotspot and for good reason - it's a city that truly has something for everyone. Whether you're interested in world-class dining, high-end shopping, or thrilling nightlife, Las Vegas has it all. From the stunning natural beauty of Red Rock Canyon to the awe-inspiring fountains of the Bellagio, there's never a dull moment in this city.</p>
    <p class="about-p">Our roots are firmly embedded in the city of Las Vegas, and we're proud to call ourselves natives of this iconic destination. We're committed to providing you with an authentic Las Vegas experience, whether you're a seasoned visitor or a first-time tourist.</p>
    <p class="about-p">One of the standout features of our platform is our collection of free casino play games. You can enjoy some of the most popular casino games without risking any real money. It's a fantastic way to familiarize yourself with the rules and strategies of games like poker, blackjack, and roulette.</p>
    <p class="about-p">In addition to our free play games, we also offer a unique collection of Vegas-exclusive NFTs. These digital collectibles are one-of-a-kind and showcase some of the most iconic landmarks and attractions that Vegas has to offer.</p>
    <p class="about-p">We understand that Las Vegas is a constantly evolving city, which is why we make it our mission to keep you up-to-date with the latest happenings. From new restaurants and shows to upcoming events and festivals, we've got you covered.</p>
    <p class="about-p">At Virtual Las Vegas, we're excited to introduce you to everything that makes Las Vegas such a great place to visit. So come on in, explore our platform, and get ready to experience the magic of Las Vegas for yourself.</p>
</div>
</div>



<%- include("../partials/footer") %>