<%- include("../partials/header") %>

<div class="nft-page">
    <div class="nft-heading">
        <h1>Vegas Exclusive NFT's</h1>
    </div>
    <div>
        <h3 class="nft-intro"> Visit <a class="nft-link" href="https://opensea.io/VLVmedia" target="_blank">OpenSea</a> and <a class="nft-link" href="">MagicDen</a> to view our latest additions</h3>
        <div>

        </div>
    </div>
</div>

<%- include("../partials/footer") %>